---
import BaseLayout from '../../layouts/BaseLayout.astro';
import FormattedDate from '../../components/FormattedDate.astro';
import { getCollection } from 'astro:content';

export async function getStaticPaths() {
  const allPosts = (await getCollection('blog'));
  // const allPosts = await Astro.glob('../blog/*.md');

  return [
    { params: { tag: "Design" }, props: {posts: allPosts}},
    { params: { tag: "Dev" }, props: {posts: allPosts}},
    { params: { tag: "Moto" }, props: {posts: allPosts}},
    { params: { tag: "Gadget" }, props: {posts: allPosts}},
    { params: { tag: "Other" }, props: {posts: allPosts}},
  ]
}

const { tag } = Astro.params;
const { posts } = Astro.props;
console.log(posts)
const filteredPosts = posts.filter((post) => post.frontmatter.tags.includes(tag));


---
<BaseLayout pageTitle={tag}>
  <p>Posts tagged with {tag}</p>
  <ul>
    {
      filteredPosts.map((post) =>(
        <li>
          <a href={`/blog/${post.slug}/`}>{post.data.title}</a>
          <FormattedDate date={post.data.pubDate} />
        </li>
      ))
    }
  </ul>
</BaseLayout>