---
import FormattedDate from '../components/FormattedDate.astro';
import { getCollection } from 'astro:content';
const posts = (await getCollection('blog')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
// const allPosts = await Astro.glob('../content/blog/*.mdx');

---
<div class="c-post-list l-g-container">
  {
    posts.map((post) => (
      <article class="c-post-list__item">
        <a class="c-post-list__item__link" href={`/blog/${post.slug}/`} tabindex="1">
          <span class="c-post-list__item__title">{post.data.title}</span>
          <span class="c-post-list__item__time"><FormattedDate date={post.data.pubDate} /></span>
        </a>
      </article>
    ))
  }
</div>
<!-- {
  allPosts.map(
    (post) => <li><a href={post.url}>{post.frontmatter.title}</a></li>
  )
} -->