---
import type { CollectionEntry } from 'astro:content';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import BaseHead from '../components/BaseHead.astro';
import FormattedDate from '../components/FormattedDate.astro';
import BackLink from '../components/BackLink.astro';
import { SITE_TITLE } from '../consts';
// import { hljs } from '../../public/highlight.js';

type Props = CollectionEntry<'blog'>['data'];

const { title, description, pubDate, updatedDate, heroImage, heroAlt } = Astro.props;
---
<!DOCTYPE html>
<html lang="ja">
	<head>
		<BaseHead title={title + " - " + SITE_TITLE} description={description} image={heroImage} />
		<!-- <link rel="stylesheet" href="../../public/prism-one-light.css"> -->
	</head>
	<body class="ask-wrapper">
		<div class="l-content">
			<Header title={SITE_TITLE} />
			<main class="l-main">
				<article class="c-blog">
					<header class="c-blog__head">
						<div class="c-blog__head__info">
							<p class="c-blog__head__date">
								<FormattedDate date={pubDate} />
								{
									updatedDate && (
										<span class="t-time t-time--update">Last updated on </span>
										<FormattedDate date={updatedDate} />
									)
								}
							</p>
							<h1 class="c-blog__title t-headline1">{title}</h1>
						</div>
						<div class="c-blog__head__hero c-image c-image--hero u-ar-16x9">{heroImage && <img width="100%" src={heroImage} alt={heroAlt} />}</div>
					</header>
					<div class="c-blog__body">
						<div class="l-rail l-rail--full--m">
							<slot />
						</div>
					</div>
					<div class="c-blog__foot">
						<div class="l-rail">
							<BackLink></BackLink>
						</div>
					</div>
				</article>
			</main>
			<Footer />
		</div>
	</body>
</html>
