---
import type { CollectionEntry } from 'astro:content';
import BaseLayout from '../layouts/BaseLayout.astro';
import FormattedDate from '../components/FormattedDate.astro';
import BackLink from '../components/BackLink.astro';

type Props = CollectionEntry<'blog'>['data'];

const { title, description, pubDate, updatedDate, heroImage, heroAlt } = Astro.props;
---

<BaseLayout>
	<article class="c-blog l-rail l-rail--full l-rail--fit-left">
		<div class="c-blog__head">
			<div class="l-rail l-rail--overflow--m">
				<figure class="c-media">
					<div class="c-image">
						{heroImage && <img width="100%" src={heroImage} alt={heroAlt} />}
					</div>
				</figure>
			</div>
			<FormattedDate date={pubDate} />
			{
				updatedDate && (
					<div class="last-updated-on">
						Last updated on <FormattedDate date={updatedDate} />
					</div>
				)
			}
			<h1 class="title">{title}</h1>
		</div>
		<slot />
	</article>
	<BackLink></BackLink>
</BaseLayout>
