---
import { Image } from "astro:assets";
import { SITE_TITLE } from '../consts';

import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import BaseHead from '../components/BaseHead.astro';
import FormattedDate from '../components/FormattedDate.astro';
import BackLink from '../components/BackLink.astro';
import Img from '../components/Img.astro';

const { frontmatter } = Astro.props;
// console.log(frontmatter, frontmatter.heroImage)

---
<!DOCTYPE html>
<html lang="ja">
	<head>
		<BaseHead title={frontmatter.title + " - " + SITE_TITLE} description={frontmatter.description} image={frontmatter.heroImage} />
		<!-- <link rel="stylesheet" href="../../public/prism-one-light.css"> -->
	</head>
	<body class="ask-wrapper">
		<div class="l-content">
			<Header title={SITE_TITLE} />
			<main class="l-main">
				<article class="c-blog">
					<header class="c-blog__head">
						<div class="c-blog__head__info">
							<p class="c-blog__head__date">
								<FormattedDate date={frontmatter.pubDate} />
								{
									frontmatter.updatedDate && (
										<span class="t-time t-time--update">Last updated on </span>
										<FormattedDate date={frontmatter.updatedDate} />
									)
								}
							</p>
							<h1 class="c-blog__title t-headline1">{frontmatter.title}</h1>
						</div>
						<div class="c-blog__head__hero c-image c-image--hero u-ar-16x9" id="lazyImage">{
							// widthsとsizesを最適な形にする
							frontmatter.heroImage && 
							<Image 
								src={frontmatter.heroImage} 
								alt="" 
								widths={ [50] } 
								decoding="sync" 
								loading="eager" 
								class="c-image__lazy" 
								aria-hidden="true" 
								role="presentation" 
							/>
							<Image
								data-high-res
								src={frontmatter.heroImage}
								alt={"" && frontmatter.heroAlt}
								widths={[
									320,
									375,
									580,
									980,
									1040,
									1920
								]}
								sizes={`
									(max-width: 376px) 320px,
									(max-width: 581px) 375px,
									(max-width: 769px) 580px,
									(max-width: 961px) 960px,
									(max-width: 1281px) 1040px,
									1920px`}
								decoding="sync"
								loading="eager"
								class="c-image__body"
							/>
						}</div>
					</header>
					<div class="c-blog__body">
						<slot />
					</div>
					<div class="c-blog__foot">
						<BackLink></BackLink>
					</div>
				</article>
			</main>
			<Footer />
		</div>
	</body>
</html>


<script>
  document.addEventListener('DOMContentLoaded', () => {
    const highResImage = document.querySelector('[data-high-res]');
    if (highResImage) {
      highResImage.onload = () => {
        highResImage.classList.add('u-loaded');
      };
    }
  });
</script>